
<form [formGroup] = "todoForm" (ngSubmit)="create();">
    <mat-form-field>
        <input matInput placeholder="Action"  formControlName="todoAction">
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="todoDueDate" formControlName="todoDueDate">
        <mat-datepicker-toggle matSuffix [for]="todoDueDate"></mat-datepicker-toggle>
        <mat-datepicker #todoDueDate></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Ok</button>

</form>

