<div class="example-container">
  <form (ngSubmit)="create()">

    <mat-form-field>
      <input matInput placeholder="Action" [(ngModel)] = "todo.action" name="todoAction">
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="todoDueDate" [(ngModel)] = "todo.dueDate" name="todoDueDate">
        <mat-datepicker-toggle matSuffix [for]="todoDueDate"></mat-datepicker-toggle>
        <mat-datepicker #todoDueDate></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Primary</button>


  </form>
</div>
